body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	background: #fff;
	background-image: url(../images/bg.jpg);
	background-position: 50% 0;
	background-repeat: repeat-x;
}

body a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 0;
	line-height: 1.8em;
}

ul,
label {
	margin: 0;
	padding: 0;
}

body a:hover {
	text-decoration: none;
}

.btn:focus {
	outline: none!important;
}


/*-- header --*/

.header-mobile-nav {
	display: none;
}

.navbar {
	background-color: transparent;
	border: none;
}

.navbar-brand {
	padding: 7px 0px;
}

.logo {
	max-width: 270px;
	margin: 0 30px 0 15px;
}

.sing-in,
.navbar-inverse .navbar-nav>li>a {
	font-weight: 600;
	font-size: 16px;
	padding: 25px 0 15px 0;
	color: #fff;
}

.lang-nav {
	display: inline-block;
	float: right;
}

.sing-in {
	display: inline-block;
	margin-right: 65px;
}

.sing-in a {
	color: #fff;
}

.sing-in a:focus {
	text-decoration: none;
}

.navbar-inverse .navbar-nav>li {
	margin-right: 30px;
}

.navbar-inverse .navbar-nav>li:last-child {
	margin-right: 0;
}

.localisation {
	float: right;
}

.nav.navbar-nav.localisation li {
	margin-right: 20px;
}

.nav.navbar-nav.localisation li:last-child {
	margin-right: 0;
}

.nav.navbar-nav.localisation span {
	margin: 0 10px;
}

.nav.navbar-nav.localisation span:last-child {
	margin-right: 0;
}

.nav.navbar-nav.localisation span:hover {
	padding-bottom: 2px;
	border-bottom: 1px dashed #fff;
}


/*-- mobile header search --*/

.header-search-input {
	margin-top: 15px;
}


/*-- //mobile header search  --*/


/*-- //header --*/


/*-- modal buy item --*/

.modal-open {
	overflow: scroll;
}

.modal {
	overflow-y: auto;
}

.modal-open {
	overflow: auto;
}

.modal-open[style] {
	padding-right: 0px !important;
}

.koupit-modal.modal-dialog .modal-title {
	text-align: center;
	color: #00a000;
	margin-bottom: 0;
}

.koupit-modal.modal-dialog {
	width: 60%;
}

.koupit-modal.modal-dialog .product-name {
	font-size: 14px;
	margin-top: 5px;
}

.modal-buy-item-navigation {
	text-align: right;
}

.modal-content-body {
	padding: 30px;
}

.koupit-modal.modal-dialog h4 {
	font-size: 16px;
	font-weight: bolder;
	margin-bottom: 20px;
}

.koupit-modal.modal-dialog .cart-content>p:first-child {
	margin-bottom: 20px;
}

.modal-buy-item-navigation .buy-btn {
	color: #fff;
	padding: 5px 20px;
	margin-right: 0;
}

.koupit-modal.modal-dialog .back-to-shop-btn {
	background-color: #fff;
}


/*-- //modal buy item --*/


/*-- sidebar --*/

.sidebar-top {
	background-color: rgba(255, 255, 255, 0.8);
	margin-right: 15px;
	height: 1405px;
}

.sidebar {
	display: block;
	padding: 0;
	float: none;
}

.sidebar-row+.row {
	overflow: hidden;
}

.sidebar-top {
	padding: 15px;
	-webkit-box-shadow: 0px 1px 8px -1px rgba(179, 179, 179, 1);
	-moz-box-shadow: 0px 1px 8px -1px rgba(179, 179, 179, 1);
	box-shadow: 0px 1px 8px -1px rgba(179, 179, 179, 1);
}

.sidebar h4,
.products-row h4,
.recommend h4 {
	font-size: 24px;
	color: #004153;
	font-family: Arial;
	padding: 0 0 15px 5px;
	overflow: hidden;
}

.sidebar h4 span,
.products-row h4 span,
.recommend h4 span {
	float: left;
	position: relative;
	padding-right: 55px;
}

.sidebar h4 span:after,
.products-row h4 span:after,
.recommend h4 span:after {
	content: "";
	background-color: #00a000;
	top: 10px;
	right: 0;
	width: 50px;
	height: 5px;
	position: absolute;
}

.sidebar-row .menu ul {
	list-style-type: none;
}

.sidebar-row .menu li {
	border-top: 1px solid #bfd0d4;
}

.sidebar-row .menu li:last-child {
	border-bottom: 1px solid #bfd0d4;
	margin-bottom: 35px;
}

.menu ul li a {
	line-height: 35px;
	padding-left: 5px;
	width: 100%;
	color: #353F49;
	font-size: 16px;
	display: inline-block;
	text-decoration: none;
	font-weight: 600;
}

.menu ul li a:hover,
.dropdown-menu.sort-by li a:hover {
	background: -moz-linear-gradient(45deg, rgba(127, 192, 201, 1) 0%, rgba(0, 128, 128, 0) 100%);
	/* ff3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(127, 192, 201, 1)), color-stop(100%, rgba(0, 128, 128, 0)));
	/* safari4+,chrome */
	background: -webkit-linear-gradient(45deg, rgba(127, 192, 201, 1) 0%, rgba(0, 128, 128, 0) 100%);
	/* safari5.1+,chrome10+ */
	background: -o-linear-gradient(45deg, rgba(127, 192, 201, 1) 0%, rgba(0, 128, 128, 0) 100%);
	/* opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(127, 192, 201, 1) 0%, rgba(0, 128, 128, 0) 100%);
	/* ie10+ */
	background: linear-gradient(45deg, rgba(127, 192, 201, 1) 0%, rgba(0, 128, 128, 0) 100%);
	/* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#7fc0c9', GradientType=1);
	/* ie6-9 */
}

.sidebar-search-input,
.sidebar-search-input:focus,
.sidebar-search-input:active {
	height: 35px;
	background-color: #eafaf9;
	border: 1px solid #ccc;
	border-left: 1px solid #7ca9a9;
	-webkit-box-shadow: inset -1px 2px 9px -2px rgba(179, 179, 179, 1);
	-moz-box-shadow: inset -1px 2px 9px -2px rgba(179, 179, 179, 1);
	box-shadow: inset -1px 2px 9px -2px rgba(179, 179, 179, 1);
}

.sidebar-search-btn {
	width: 35px;
	height: 35px;
	padding: 6px 7px;
	border-top: 1px solid #d8e6e3;
	border-bottom: 1px solid #7ca9a9;
	border-left: 1px solid #cfe3e1;
	background: linear-gradient(to top left, #7bc1c3, #badbdd);
}

.sidebar-search-btn:focus,
.sidebar-search-btn:active,
.sidebar-search-btn:hover {
	outline: none!important;
	box-shadow: none;
	border-top: 1px solid #d8e6e3;
	border-bottom: 1px solid #7ca9a9;
	border-left: 1px solid #cfe3e1;
}

.sidebar-top .input-group {
	margin-bottom: 25px;
}

.social-widget-container {
	padding: 10px;
	border-radius: 10px;
	background: linear-gradient(to bottom right, #ebfbfb, #edf7fa, #fdfaec);
	-webkit-box-shadow: inset 0px 1px 9px -2px rgba(179, 179, 179, 1);
	-moz-box-shadow: inset 0px 1px 9px -2px rgba(179, 179, 179, 1);
	box-shadow: inset 0px 1px 9px -2px rgba(179, 179, 179, 1);
}


/*-- //sidebar --*/


/*-- products-grid--*/

.product-w3ls-right,
.additional-info {
	float: right;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 0;
	-webkit-box-shadow: 0px 1px 8px -1px rgba(179, 179, 179, 1);
	-moz-box-shadow: 0px 1px 8px -1px rgba(179, 179, 179, 1);
	box-shadow: 0px 1px 8px -1px rgba(179, 179, 179, 1);
	margin-bottom: 15px;
}

.product-w3ls-right h4 {
	font-size: 24px;
	color: #004153;
	font-family: Arial;
	margin: 0;
	padding: 15px 15px 0 15px;
}

.product-grids {
	margin-bottom: 10px;
	padding: 0;
}

.container.products {
	margin-top: 30px;
}

.agile-products {
	margin: 14px;
	padding: 20px;
	background-color: #fff;
	overflow: hidden;
	-webkit-box-shadow: 0px 1px 8px -1px rgba(179, 179, 179, 1);
	-moz-box-shadow: 0px 1px 8px -1px rgba(179, 179, 179, 1);
	box-shadow: 0px 1px 8px -1px rgba(179, 179, 179, 1);
	transition: box-shadow 0.5s ease;
}

.agile-products .img-responsive {
	height: 217px;
	object-fit: contain;
	margin: 0 auto 15px auto;
}

.agile-products:hover {
	-webkit-box-shadow: 0px 1px 27px -4px rgba(179, 179, 179, 0.95);
	-moz-box-shadow: 0px 1px 27px -4px rgba(179, 179, 179, 0.95);
	box-shadow: 0px 1px 27px -4px rgba(179, 179, 179, 0.95);
}

.agile-product-text a {
	color: #004153;
	font-weight: 300;
	text-align: center;
	display: block;
	font-size: 20px;
	line-height: 25px;
	height: 50px;
	overflow: hidden;
	margin-bottom: 10px;
}

.agile-product-text h5 a:hover,
.related-row h4 a:hover {
	color: #000;
}

.agile-product-text h6,
.new-goods h6 {
	font-size: 24px;
	color: #004153;
	font-weight: 400;
	text-align: center;
	margin-bottom: 15px;
}

.agile-products img {
	margin-bottom: 15px;
}

.buy-btn img {
	margin: 0 15px 6px 0;
}

.like-btn img {
	margin: 0;
}

.buy-btn {
	font-size: 24px;
	font-family: Arial;
	font-weight: 300;
	padding: 4px 26px 1px 17px;
	background-color: #50adb9;
	border: none;
	border-bottom: 4px solid #44939d;
	margin-right: 10px;
}

.buy-btn:hover {
	background-color: #00a000;
	border-bottom: 4px solid #008800;
}

.like-btn:hover {
	background-color: #ffd1d1;
	border-bottom: 4px solid #d8b2b2;
}

.like-btn {
	padding: 7px 5px;
	background-color: #ffa3a3;
	border: none;
	border-bottom: 4px solid #d98b8b;
}


/*-- //products-grid--*/


/*-- shop_kategorii --*/

#breadcrumb {
	list-style: none;
	display: inline-block;
}

.breadcrumb-container,
.item #breadcrumb {
	margin-bottom: 5px;
}

#breadcrumb li {
	float: left;
}

#breadcrumb li a {
	color: #004153;
	display: block;
	background-color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	position: relative;
	padding: 0 10px 0 5px;
	height: 22px;
	text-align: center;
	margin-right: 23px;
	font-size: 16px;
}

#breadcrumb .active-crumb {
	background-color: rgba(255, 255, 255, 0.8);
}

#breadcrumb .active-crumb:before,
#breadcrumb .active-crumb:after {
	border: 0 solid rgba(255, 255, 255, 0.8);
	content: "";
	position: absolute;
	top: 0;
	border-width: 11px 10px;
	width: 0;
	height: 0;
}

#breadcrumb li:first-child a {
	padding-left: 15px;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px;
	border-radius: 0;
}

#breadcrumb li:first-child a:before {
	border: none;
}

#breadcrumb li a:before,
#breadcrumb li a:after {
	content: "";
	position: absolute;
	top: 0;
	border: 0 solid rgba(255, 255, 255, 0.5);
	border-width: 11px 10px;
	width: 0;
	height: 0;
}

#breadcrumb li a:before,
#breadcrumb .active-crumb:before {
	left: -20px;
	border-left-color: transparent;
}

#breadcrumb li a:after,
#breadcrumb .active-crumb:after {
	left: 100%;
	border-color: transparent;
	border-left-color: rgba(255, 255, 255, 0.5);
}

#breadcrumb .active-crumb:after {
	border-left-color: rgba(255, 255, 255, 0.8);
}

.additional-info {
	padding: 15px;
}

.additional-info h4 {
	font-size: 24px;
	color: #004153;
	font-family: Arial;
	padding-bottom: 15px;
}

.additional-info p {
	color: #004153;
	font-size: 16px;
	line-height: 1.4em;
}

.additional-info-text {
	padding: 0;
	text-align: justify;
	margin-top: -4px;
}

.additional-info-images {
	padding-left: 0;
}

.additional-info-images img {
	margin: 0 auto;
	height: 160px;
	-webkit-box-shadow: 0px 0px 21px -5px rgba(89, 89, 89, 1);
	-moz-box-shadow: 0px 0px 21px -5px rgba(89, 89, 89, 1);
	box-shadow: 0px 0px 21px -5px rgba(89, 89, 89, 1);
}

.inner-shadow {
	position: relative;
	width: 100%;
	float: left;
	margin-bottom: 20px;
	margin-right: 20px;
	-ms-transform: rotate(-1deg);
	/* IE 9 */
	-webkit-transform: rotate(-1deg);
	/* Chrome, Safari, Opera */
	transform: rotate(-1deg);
}

.additional-info-images .inner-shadow:last-child {
	-ms-transform: rotate(1deg);
	/* IE 9 */
	-webkit-transform: rotate(1deg);
	/* Chrome, Safari, Opera */
	transform: rotate(1deg);
}

.inner-shadow::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-box-shadow: inset 0px 0px 15px -6px rgba(89, 89, 89, 1);
	-moz-box-shadow: inset 0px 0px 15px -6px rgba(89, 89, 89, 1);
	box-shadow: inset 0px 0px 15px -6px rgba(89, 89, 89, 1);
	border: 10px solid #fff;
}

.products h5 {
	font-size: 16px;
	padding: 25px 15px 15px 0;
	display: inline-block;
}

#menu1 {
	width: 220px;
	text-align: left;
}

.sort-by-drp-container {
	display: inline-block;
	margin: 15px 0 auto;
	font-size: 18px;
}

.sort-by-drp .caret {
	color: #50adb9;
}

.sort-by-drp {
	background-color: #fff;
	color: #004153;
	border-color: #79a2a7;
	border-radius: 0;
	white-space: normal;
}

.sort-by-drp-container .dropdown-menu {
	width: 100%;
	border-radius: 0;
	border-color: #d8e3e4;
	margin: 0;
	border-top: 0;
}

.sort-by-drp:hover,
.sort-by-drp:active,
.sort-by-drp.active,
.open>.dropdown-toggle.sort-by-drp,
.sort-by-drp:focus {
	background-color: #fff!important;
	color: #004153!important;
	border-color: #79a2a7!important;
	box-shadow: none;
}

.drp-and-label-wrapper label {
	font-size: 18px;
	padding-right: 10px;
}

.dropdown-menu.sort-by li {
	border-bottom: 1px solid #ecf1f2;
}

.dropdown-menu.sort-by li:last-child {
	border-bottom: none;
}

.dropdown-menu.sort-by li a {
	line-height: 35px;
}

.dropdown-menu.sort-by>li>a {
	word-wrap: break-word;
	white-space: normal;
}

.dropdown.open .caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-bottom: 4px dashed;
	border-top: 0px solid transparent;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.new-goods a {
	border-bottom: 1px solid #bfd0d4;
	display: inline-block;
	font-size: 16px;
	font-family: Arial;
	color: #004153;
	padding-top: 8px;
}

.new-goods a:last-child {
	border-bottom: none;
}

.new-goods a:last-of-type h6 {
	margin-bottom: 0;
}

.new-goods img {
	margin-left: 10px;
	height: 54px;
	object-fit: contain;
}

.new-goods h6 {
	text-align: left;
	margin-top: 20px;
}

.new-goods {
	background: #fff;
}

.sidebar-top.categories {
	height: auto;
}

.pagination-container {
	float: right;
}

.pagination {
	margin: 0 0 10px 0;
}

.pagination li a:hover {
	background-color: #cfe9ec;
	border-color: #b2c6cb;
}

.pagination li .current-page {
	background-color: #cfe9ec;
	cursor: default;
}

.pagination li a {
	margin-right: 10px;
	border-radius: 4px;
	border-color: #b2c6cb;
	color: #004153;
}

.pagination .dots {
	display: inline-block;
	margin-right: 10px;
	border-color: #fff;
}

.pagination .dots:hover {
	background-color: transparent;
	border-color: #fff;
}

.pagination-nav .glyphicon {
	top: 2px;
}


/*-- //shop_kategorii--*/


/*-- shop_karta_tovara--*/

.about-item,
.container-singin,
.container-about,
.container.shoping-cart,
.orders {
	padding: 25px;
	background-color: rgba(255, 255, 255, 0.8);
}

.carousel.item-card {
	margin: 0 15px 0 25px;
}

.carousel-indicators {
	position: absolute;
	bottom: -11px;
	left: 410px;
	z-index: 15;
	padding-left: 0;
	margin-left: -30%;
	text-align: center;
	list-style: none;
	width: auto;
}

.carousel-indicators .active {
	width: 80px;
	height: 80px;
	border-radius: 0;
	border: 1px solid #b9d1dd;
	-webkit-box-shadow: 0px 1px 8px -1px rgba(179, 179, 179, 1);
	-moz-box-shadow: 0px 1px 8px -1px rgba(179, 179, 179, 1);
	box-shadow: 0px 1px 8px -1px rgba(179, 179, 179, 1);
}

.carousel-indicators li {
	display: block;
	width: 80px;
	height: 80px;
	margin: 0;
	text-indent: -999px;
	cursor: pointer;
	border: 1px solid transparent;
}

.carousel-indicators li:nth-child(2) {
	margin: 27px 0;
}

.title-price-quantity h1 {
	font-size: 30px;
}

.title-price-quantity .bootstrap-touchspin {
	width: 95px;
}

.quantity-container {
	margin-top: 7px;
	overflow: hidden;
}

.quantity-input-wrap {
	float: left;
	margin-right: 30px;
}

.title-price-quantity .bootstrap-touchspin input {
	min-height: 44px;
	text-align: center;
	border-color: #d8e3e4;
	color: #004153;
	box-shadow: none;
}

.quantity-container .input-group-btn-vertical>button.btn-default {
	display: block;
	width: 33px;
	height: 23px;
	font-size: 20px;
	line-height: 18px;
	color: #004153;
	background-color: #cfe9ec;
	padding: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	text-align: center;
	border-color: #d8e3e4;
}

.quantity-container .bootstrap-touchspin .input-group-btn-vertical i {
	top: 6px;
	left: 10px;
}

.quantity-container .buy-btn {
	margin-right: 30px;
}

.title-price-quantity h2 {
	margin-top: 15px;
}

.title-price-quantity p {
	font-size: 20px;
	margin-top: 10px;
}

.product-info-container .nav-tabs {
	margin-top: 30px;
	border: none;
}

.product-info-container .nav-tabs li a {
	color: #004153;
}

.product-info-container .nav-tabs li a:hover {
	background-color: transparent;
	border-color: transparent;
}

.product-info-container .nav-tabs li.active a:hover {
	background-color: #fff;
}

.product-info-container .nav-tabs li.active a {
	-webkit-box-shadow: 0px 1px 8px -1px rgba(179, 179, 179, 1);
	-moz-box-shadow: 0px 1px 8px -1px rgba(179, 179, 179, 1);
	box-shadow: 0px 1px 8px -1px rgba(179, 179, 179, 1);
	border: none;
	border-radius: 0;
}

.product-info-container .nav-tabs a {
	font-size: 20px;
}

.product-info-container .nav-tabs li.active,
.product-info-container .nav-tabs a {
	border: 1px solid transparent;
	border-left: none;
	color: #004153;
}

.product-info-container .nav-tabs li.active a:focus {
	color: #004153;
}

.product-info-container .nav-tabs li.active a:after {
	background-color: #fff;
	height: 20px;
	content: "";
	position: absolute;
	bottom: -18px;
	left: 0px;
	right: -20px;
	width: 100%;
}

.product-info-container .additional-info-tab,
.product-details-tab {
	-webkit-box-shadow: 0px 1px 8px -1px rgba(179, 179, 179, 1);
	-moz-box-shadow: 0px 1px 8px -1px rgba(179, 179, 179, 1);
	box-shadow: 0px 1px 8px -1px rgba(179, 179, 179, 1);
	padding: 20px;
	background-color: #fff;
}

.additional-info-tab p {
	font-size: 20px;
	line-height: 1.3em;
}

.additional-info-tab ul {
	margin: 0 0 25px 15px;
	font-size: 20px;
}

.additional-info-tab.tab-pane li {
	margin-left: 8px;
}

.additional-info-tab>p:first-child {
	margin-bottom: 35px;
}

.additional-info-tab p:last-child {
	margin-bottom: 10px;
}

.product-info-container {
	color: #004153;
}

.recommend {
	padding: 10px;
}

.recommend h4 {
	margin-left: 10px;
}


/*  Courusele prewiew */

.owl-buttons {
	position: absolute;
	top: -11%;
	right: 11px;
}

.owl-controls .owl-buttons div {
	height: 40px;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #b2c6cb;
}

.owl-buttons .owl-prev:before,
.owl-buttons .owl-next:before {
	top: 1px;
	left: 13px;
	color: #1b5565;
}

.owl-carousel .item {
	margin: 1em;
	color: #FFF;
	padding: 19px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	-webkit-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.33);
	-o-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.33);
	-ms-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.33);
	box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.33);
}

.owl-carousel .item a img {
	height: 217px;
	object-fit: contain;
	margin: 0 auto 15px auto;
}


/*  //Courusele prewiew */


/*-- //shop_karta_tovara--*/


/*-- singin --*/

.container-singin,
.container-about {
	margin-bottom: 20px;
	color: #004153;
}

.singin-form-wrapper,
.about-wrapper,
.item-cart-container,
.cart-grid-right,
.step-title,
.orders .delivery-option {
	background-color: #fff;
	padding: 20px;
	-webkit-box-shadow: 0px 1px 8px -1px rgba(179, 179, 179, 1);
	-moz-box-shadow: 0px 1px 8px -1px rgba(179, 179, 179, 1);
	box-shadow: 0px 1px 8px -1px rgba(179, 179, 179, 1);
}

.singin .page-title {
	padding-bottom: 9px;
	margin: 0 0 20px;
	border-bottom: 1px solid #eee;
}

.forgot-password {
	margin-bottom: 20px;
}

.container-singin a,
#checkout-login-form .forgot-password a {
	color: #000;
}

.container-singin .set-password-btn {
	padding: 6px;
}

.singin .container-singin input {
	box-shadow: none;
	transition: border-color 0s;
}

.singin .container-singin input:focus {
	border-color: #ccc;
	border-right-color: #50adb9;
}

.singin .enter-btn {
	background-color: #50adb9;
	border-color: #50adb9;
}

.singin .enter-btn:hover {
	background-color: #00a000;
	border-color: #00a000;
}


/*-- //singin --*/


/*-- about --*/

.container-about h4 {
	margin: 50px 0;
	font-weight: 600;
}

.container-about p {
	margin-bottom: 50px;
	display: inline-block;
}

.contacts-about address {
	margin-bottom: 0;
}

.contacts-about p {
	margin-bottom: 15px;
}

.contacts-about dd,
.contacts-about dt {
	line-height: 1.9;
	font-weight: 100;
}

.contacts-about a {
	color: #004153;
}


/*-- //about --*/


/*-- shoping-cart --*/

.cart-grid-body {
	padding-left: 0;
}

.shoping-cart,
.orders {
	color: #004153;
	margin-bottom: 20px;
}

.shoping-cart .label,
.shoping-cart .label:hover,
.orders .label {
	color: #004153;
}

.shoping-cart .product-line-info a {
	padding-left: 0;
	font-size: 14px;
	color: #004153;
}

.product-line-info .value {
	font-weight: 600;
}

.shoping-cart .price {
	font-size: 20px;
	text-align: left;
	font-weight: bolder;
	margin-top: 1px;

}

.shoping-cart .card-block h1 {
	margin: 0;
}

.shoping-cart .bootstrap-touchspin input {
	text-align: center;
}

.shoping-cart .quantity-container {
	margin-top: 0;
	padding-left: 0;
}

.shoping-cart .quantity-input-wrap {
	float: none;
	margin-right: 0;
}

.shoping-cart .quantity-container .input-group-btn-vertical>button.btn-default {
	height: 18px;
}

.shoping-cart .quantity-container .bootstrap-touchspin .input-group-btn-vertical i {
	top: 3px;
}

.shoping-cart .quantity-container .quantity-body .bootstrap-touchspin {
	width: 90px;
}

.cart-items li {
	display: inline-block;
}

.remove-from-cart {
	font-size: 24px;
	color: #004153;
	display: inline-block;
	float: right;
	margin-top: -5px;
}

.cart-grid-body .label {
	font-size: 12px;
	margin: 10px 0;
	display: inline-block;
}

.cart-grid-right .value {
	float: right;
	font-weight: bolder;
}

.cart-summary-line .label {
	font-size: 14px;
}

.checkout .buy-btn {
	padding: 5px 20px;
	margin: 20px 0;
}


/*-- //shoping-cart --*/


/*-- orders --*/

#checkout-personal-information-step .nav-inline .nav-item {
	display: inline-block;
	margin: 0 0 10px 10px;
}

#checkout-personal-information-step .nav-inline .nav-item a {
	padding: 0;
	color: #004153;
	font-weight: bold;
	font-size: 14px;
}

#checkout-personal-information-step .nav-inline .nav-item a:hover,
#checkout-personal-information-step .nav-inline .nav-item a:focus {
	background-color: transparent;
	color: #00a000;
}

#cart-summary-products-list {
	font-weight: bold;
	width: 100%;
	clear: both;
}

#cart-summary-products-list .media a {
	width: 60px;
	display: block;
}

.cart-summary-line .show-details {
	cursor: pointer;
	color: #00a000;
}

#cart-summary-products-list .media {
	padding: 15px;
	border: 1px solid #eee;
	margin: 10px 0;
}

.product-name {
	font-size: 13px;
}

.checkbox label:after {
	content: '';
	display: table;
	clear: both;
}

.checkbox .cr {
	position: relative;
	display: inline-block;
	border: 1px solid #a9a9a9;
	border-radius: .25em;
	width: 1.3em;
	height: 1.3em;
	float: left;
	margin-right: .5em;
}

.checkbox .cr .cr-icon {
	position: absolute;
	font-size: .8em;
	line-height: 0;
	top: 50%;
	left: 20%;
}

.checkbox label input[type="checkbox"] {
	display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon {
	transform: scale(3) rotateZ(-20deg);
	opacity: 0;
	transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
	transform: scale(1) rotateZ(0deg);
	opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr {
	opacity: .5;
}

.checkbox label {
	padding-left: 0;
}

.form-group.row.partners-info-newsletter {
	margin-bottom: 0;
}

.orders .form-control-label {
	margin-bottom: 20px;
}

.orders .form-group {
	margin-bottom: 10px;
}

.orders .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 13px;
	line-height: 1.25;
	color: #55595c;
	background-color: #fff;
	background-image: none;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 0;
	box-shadow: none;
}

#checkout-guest-form .form-group+p {
	margin: 15px 0 20px 0;
}

.inline {
	display: inline-block;
}

.inline+.inline {
	margin-left: 10px;
}

.radio {
	color: #999;
	font-size: 15px;
	margin: 0;
	padding-left: 0;
}

.radio span {
	position: relative;
	padding-left: 20px;
}

.radio span:after {
	content: '';
	width: 25px;
	height: 25px;
	border: 3px solid;
	position: absolute;
	left: 0;
	top: 1px;
	border-radius: 100%;
	-ms-border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.radio input[type="radio"] {
	cursor: pointer;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}

.radio input[type="radio"]:checked+span {
	color: #50adb9
}

.radio input[type="radio"]:checked+span:before {
	content: '';
	width: 15px;
	height: 15px;
	position: absolute;
	background: #00a000;
	left: 5px;
	top: 6px;
	border-radius: 100%;
	-ms-border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
}

.sex {
	display: inline-block;
	color: #000;
	margin-left: 10px;
	font-weight: 100;
}

.step-edit {
	float: right;
}

.step-title {
	background-color: #fff;
	margin: 0 0 10px 0;
	padding: 20px;
}

#checkout-guest-form,
#checkout-login-form,
#checkout-personal-information-step,
.delivery-options-list,
#checkout-payment-step .card-block,
#checkout-addresses-step,
#checkout-delivery-step,
#checkout-payment-step {
	background-color: #fff;
	padding: 20px;
}

#checkout-login-form .set-password-btn,
#checkout-guest-form .set-password-btn {
	padding: 6px;
}

.orders .form-control-comment {
	color: #999;
	font-size: 12px;
	margin-top: 9px;
}

#checkout-personal-information-step p {
	margin-bottom: 35px;
}

#checkout-addresses-step .enter-btn,
.delivery-options-list .enter-btn {
	margin-top: 40px;
	float: right;
}

.orders .delivery-option {
	margin-bottom: 20px;
}

#checkout-payment-step .enter-btn {
	margin-top: 30px;
}

.delivery-options-list .enter-btn {
	margin-top: 20px;
}

label[for=payment-option] {
	margin-left: 20px;
}


/*-- //orders --*/


/*-- footer--*/

.footer-nav-wrapper .fa-chevron-down {
	display: none;
}

.footer-top h4 {
	font-size: 24px;
	font-family: Arial;
	float: left;
	margin-right: 30px;
	color: #fff;
}

.footer-top {
	padding: 35px 25px 20px 110px;
}

.email-subscribe-btn,
.set-password-btn {
	width: 70px;
	background-color: #50adb9;
	border: 1px solid #50adb9;
	font-family: Arial;
	color: #fff;
	padding: 0px;
}

.email-subscribe-btn span {
	font-size: 24px;
}

.email-subscribe-btn:hover {
	border: 1px solid #50adb9;
}

.email-subscribe-input {
	border: none;
	height: 36px;
}

.form-control.email-subscribe-input {
	transition: border-color 0s;
}

.email-subscribe-input:focus {
	box-shadow: none;
	border-right: 1px solid #50adb9;
}

.social-icons li {
	display: inline-block;
	background-color: #c2c2c2;
	width: 35px;
	height: 35px;
	text-align: center;
	margin-right: 7px;
}

.social-icons li a {
	font-size: 24px;
	color: #333;
}

.social-icons ul {
	overflow: hidden;
}

.social-icons {
	overflow: hidden;
	float: right;
}

.social-icons li:last-child {
	margin-right: 20px;
}

.footer {
	background-color: #333333;
	overflow: auto;
}

.footer-nav-wrapper {
	max-width: 920px;
	margin: 0 auto;
	border-top: 1px solid #5c5c5c;
	border-bottom: 1px solid #5c5c5c;
	overflow: hidden;
	padding-top: 20px;
}

.footer-nav li {
	list-style-type: none;
}

.footer-nav a {
	display: inline-block;
	color: #c2c2c2;
	margin-bottom: 25px;
	font-weight: 300;
}

.footer-nav h4,
.footer-nav button {
	color: #FFF;
	font-size: 24px;
	margin-bottom: 25px;
	cursor: default;
}

.footer-nav button {
	background-color: transparent;
	border: none;
	box-shadow: none;
	padding-left: 0;
}

.footer-nav button:focus,
.footer-nav button:active {
	border: none;
	box-shadow: none;
	outline: none;
}

.about-company,
.shop {
	float: left;
	padding: 0;
	width: 28.5%;
}

.contacts a {
	margin-bottom: 0;
}

.contacts address {
	margin-bottom: 2px;
}

.contacts dt,
.contacts-about dt {
	float: left;
	margin-right: 5px;
}

.contacts dl {
	margin-bottom: 0;
}

.contacts dt {
	font-weight: 100;
}

.contacts {
	margin-right: 0;
	overflow: hidden;
	width: 26%;
	color: #c2c2c2;
}

.footer-copyrights {
	color: #FFF;
	text-align: center;
	padding: 25px 0;
	color: #c2c2c2;
	font-size: 12px;
}


/*-- //footer--*/


/*-- force-ipad-mobile-navbar-*/

@media (max-width: 1200px) {
	.navbar-header {
		float: none;
	}
	.navbar-left,
	.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in {
		display: block !important;
	}
}


/*-- //force-ipad-mobile-navbar-*/

@media (max-width: 1200px) {
	.navbar-inverse .navbar-toggle {
		border: transparent;
		float: left;
		margin-right: 20px;
	}
	.navbar-inverse .navbar-toggle:hover,
	.navbar-inverse .navbar-toggle:focus {
		background-color: rgba(255, 255, 255, 0.4);
	}
	.navbar-toggle {
		margin-top: 15px;
	}
	.navbar-brand>img {
		max-width: 185px;
	}
	.navbar-inverse .navbar-collapse,
	.navbar-inverse .navbar-form {
		border-color: #fff;
		margin-top: 5px;
	}
	header .navbar-nav {
		margin-top: 0;
	}
	.lang-nav {
		float: none;
		width: 100%;
	}
	.sing-in {
		width: 100%;
		margin-right: 0;
		padding: 0;
	}
	.navbar-collapse {
		padding-left: 0;
		padding-right: 0;
	}
	.sing-in a,
	.navbar-inverse .navbar-nav>li>a {
		color: #004153;
		padding: 10px;
		width: 100%;
		display: inline-block;
	}
	.nav.navbar-nav.localisation span {
		margin: 0;
		position: absolute;
		margin-left: 40px;
		top: 13px;
	}
	.nav.navbar-nav.localisation span:last-child {
		margin-left: 11px;
	}
	.nav.navbar-nav.localisation span img {
		position: absolute;
	}
	.navbar-nav {
		margin-bottom: 0;
	}
	.navbar-inverse .navbar-nav>li,
	.nav.navbar-nav.localisation li {
		margin-right: 0;
	}
	.nav-bar-menu-container {
		padding: 20px;
		background-color: rgba(255, 255, 255, 0.8);
	}
	.btns-wrap {
		display: none;
	}
	footer .container {
		padding: 0;
		width: 100%;
	}
	.footer-top {
		padding: 35px 25px 20px 20px;
	}
	.footer-nav {
		display: flex;
		justify-content: center;
	}
	.sidebar-top {
		height: 1274px;
	}
	.header-mobile-nav {
		float: right;
		display: block;
		margin-top: 14px;
	}
	.header-mobile-nav li {
		display: inline-block;
	}
	.header-mobile-nav img {
		max-height: 40px;
		margin-left: 20px;
	}
}

@media (max-width: 1024px) {
	.container.products {
		margin-top: 0;
	}
	.additional-info-images .inner-shadow {
		width: auto;
	}
	.new-item-title {
		font-size: 12px;
	}
	.new-item-title h6 {
		font-size: 14px;
	}
	.cart-grid-body {
		padding-right: 0;
	}
	.recommend {
		display: none;
	}
}

@media (max-width: 991px) {
	.product-w3ls-right,
	.additional-info {
		float: none;
	}
	.sidebar-top {
		margin-right: 0;
		height: auto;
		margin-bottom: 20px;
	}
	.footer-top h4 {
		font-size: 19px;
		margin-right: 10px;
	}
	#breadcrumb {
		display: none;
	}
	.category-items .sort-drp-desctop {
		display: none;
	}
	.additional-info-text {
		display: none;
	}
	.additional-info-images .inner-shadow {
		display: none;
	}
	.additional-info {
		margin-bottom: 0;
	}
	.additional-info h4 {
		padding-bottom: 0;
	}
	.category-items.product-w3ls-right {
		box-shadow: none;
	}
	.category-items .agile-product-text {
		float: right;
		width: 50%;
	}
	.category-items .agile-products .img-responsive {
		float: left;
		width: 50%;
		margin-bottom: 0;
	}
	.category-items .agile-product-text {
		margin-top: 60px;
	}
	.pagination-container {
		float: none;
		margin-bottom: 20px;
	}
	.pagination-container .desctop-pagination {
		display: none;
	}
	.new-goods a {
		display: block;
	}
	.new-goods img {
		margin: 0 auto 20px auto;
	}
	.new-goods,
	.new-item-title h6 {
		text-align: center;
	}
	.menu ul li a {
		line-height: 45px;
	}
	.step-title {
		font-size: 20px;
	}
	.carousel.item-card {
		margin: 0;
	}
	.photo-wrap {
		padding-left: 0;
	}
	.carousel-indicators li,
	.carousel-indicators .active {
		width: 60px;
		height: 60px;
	}
	.carousel-indicators li:nth-child(2) {
		margin: 10px 0;
	}
	.carousel-indicators {
		bottom: 15px;
		left: 355px;
	}
	.by-button-mobile {
		display: none;
	}
	.buy-btn img {
		margin: 0 0px 6px 0;
	}
}

@media (max-width: 812px) {
	.footer-top h4 {
		font-size: 22px;
	}
	.about-company,
	.shop {
		margin-right: 30px;
	}
	.orders .form-control-label {
		margin-bottom: 5px;
	}
	.carrier-name {
		display: inline-block;
	}
}

@media (max-width: 768px) {
	.footer-top h4 {
		font-size: 19px;
	}
}

@media (max-width: 767px) {
	.empty-div {
		display: none;
	}
	.email-subscription h4 {
		float: none;
		margin-bottom: 10px;
	}
	.social-icons {
		width: 100%;
		padding: 15px;
	}
	.shoping-cart .quantity-container {
		padding-left: 20px;
		margin: 20px 0;
	}
	.carousel-inner {
		width: 40%;
	}
	.photo-wrap {
		padding-left: 0;
		float: left;
		width: 50%;
	}
	.title-price-quantity {
		width: 50%;
	}
	.carousel-indicators {
		bottom: -73px;
		margin: 0;
		left: 68%;
	}
	.title-price-quantity h2 {
		font-weight: bold;
	}
	.product-info-container {
		margin-top: 20px;
	}
	.product-info-container .panel.panel-default {
		border: none;
		box-shadow: none;
	}
	.product-info-container .panel-default>.panel-heading+.panel-collapse>.panel-body {
		border: none;
	}
	.product-info-container .panel-default>.panel-heading {
		background-color: #f7f7f7;
		border-radius: 0;
	}
	.js-tabcollapse-panel-heading:after,
	.js-tabcollapse-panel-heading.collapsed:after {
		content: "\f077";
		color: #004153;
		font-family: FontAwesome;
		font-size: 12px;
		margin-left: 3px;
		position: absolute;
		top: 2px;
	}
	.js-tabcollapse-panel-heading.collapsed:after {
		content: "\f078";
	}
	.product-info-container .panel-title {
		position: relative;
	}
	.product-info-container .panel-title a {
		width: 100%;
		display: inline-block;
	}
	#POPIS-collapse .panel-body div p {
		margin-top: 35px;
	}
	#POPIS-collapse ul {
		margin: 0 0 20px 18px;
	}
}

@media (max-width: 667px) {
	.about-item .quantity-input-wrap {
		display: none;
	}
	.title-price-quantity h1 {
		font-size: 20px;
	}
	.title-price-quantity h2 {
		font-size: 20px;
		margin-bottom: 60px;
	}
	.title-price-quantity {
		width: 40%;
	}
	.photo-wrap {
		width: 60%;
	}
	.carousel-indicators li,
	.carousel-indicators .active {
		width: 55px;
		height: 55px;
	}
	.carousel-indicators {
		bottom: -49px;
		margin: 0;
		left: 55%;
	}
	.title-price-quantity p {
		display: none;
	}
}

@media (max-width: 568px) {
	.carousel-indicators {
		bottom: -73px;
	}
}

@media (max-width: 425px) {
	.navbar-inverse .navbar-toggle {
		margin-right: 10px;
	}
	.agile-product-text a {
		font-size: 14px;
	}
	.agile-product-text h6 {
		font-size: 20px;
	}
	.agile-products {
		margin: 10px;
		padding: 10px;
	}
	.header-mobile-nav img {
		max-height: 30px;
		margin-top: 3px;
	}
	.sing-in {
		margin-left: -16px;
	}
	.agile-products .img-responsive {
		height: 205px;
	}
	.footer-nav-wrapper {
		padding: 20px;
	}
	.footer-nav .empty-div {
		display: none;
	}
	.footer-nav {
		display: block;
	}
	.about-company,
	.shop,
	.contacts {
		float: none;
		width: 100%;
	}
	.contacts {
		text-align: center;
		padding-bottom: 50px;
	}
	.contacts dt,
	.contacts-about dt {
		float: none;
	}
	.footer-nav h4 {
		display: inline-block;
	}
	.footer-nav-wrapper .fa-chevron-down {
		font-size: 12px;
		display: inline;
	}
	.email-subscription h4 {
		float: none;
		margin-bottom: 10px;
	}
	.footer {
		position: relative;
	}
	.footer-top {
		padding: 20px;
	}
	.social-icons {
		float: none;
		position: absolute;
		bottom: 85px;
		width: 98%;
		padding: 0;
	}
	.social-icons ul {
		float: none;
		display: inline-block;
	}
	.mobile-align {
		display: flex;
		justify-content: center;
	}
	.step-edit {
		float: none;
		display: inline-block;
		margin-top: 10px;
	}
	.orders .form-control-label {
		margin-bottom: 5px;
	}
	.carrier-name {
		display: inline-block;
	}
	label[for=payment-option] {
		display: inline;
	}
	label[for=payment-option] img {
		margin-top: 20px;
		max-width: 100%;
	}
	.orders .nav-separator {
		display: none;
	}
	.shoping-cart .quantity-container {
		padding-left: 20px;
		margin-bottom: 20px;
	}
	.carousel-inner {
		width: 100%;
	}
	.carousel-indicators li {
		display: inline-block;
		width: 10px;
		height: 10px;
		margin: 1px;
		text-indent: -999px;
		cursor: pointer;
		background-color: #99b3ba;
		border: 1px solid #fff;
		border-radius: 10px;
	}
	.carousel-indicators .active {
		width: 12px;
		height: 12px;
		margin: 0;
		background-color: #004153;
		border-radius: 10px;
	}
	.carousel-indicators {
		position: absolute;
		bottom: 10px;
		left: 50%;
		z-index: 15;
		width: 60%;
		padding-left: 0;
		margin-left: -30%;
		text-align: center;
		list-style: none;
	}
	.carousel-indicators li span {
		display: none;
	}
	.carousel-indicators li:nth-child(2) {
		margin: 1px;
	}
	.quantity-input-wrap {
		display: none;
	}
	.by-button-mobile {
		display: inline;
	}
	.buy-btn img {
		margin: 0 15px 6px 0;
	}
	.photo-wrap {
		padding-right: 0;
	}
	.title-price-quantity h1 {
		font-size: 20px;
		text-align: center;
		margin-top: 20px;
	}
	.quantity-container {
		text-align: center;
	}
	.title-price-quantity p {
		display: none;
	}
	.title-price-quantity h2 {
		margin-bottom: 15px;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
	}
	.photo-wrap {
		width: auto;
	}
	.title-price-quantity {
		width: auto;
	}
}

@media (max-width: 375px) {
	.navbar-brand>img {
		max-width: 155px;
		margin-top: 5px;
	}
}

@media (max-width: 360px) {
	.singin .page-title h1 {
		font-size: 28px;
	}
}

@media (max-width: 320px) {
	.header-mobile-nav img {
		max-height: 25px;
		margin-top: 3px;
	}
	.header-mobile-nav img {
		max-height: 25px;
		margin-left: 10px;
	}
	.footer-copyrights {
		font-size: 10px;
	}
	.no-account {
		font-size: 13px;
	}
	.pagination li a {
		margin-right: 5px;
	}
	.by-button-mobile {
		display: none;
	}
	.buy-btn img {
		margin: 0 0 6px 0;
	}
	.cart-summary-line .show-details{
		font-size: 12px;
	}
}